@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px red solid;
} */
* {
  --primary: #3F7CAC;
  /* --primary: #053387;  */
  --secondary: #17C3B2;
  --eerie-black: #1f1f1fff;
  --white-smoke: #f6f4f3ff;
  --steel-blue: #3f7cacff;
  --light-sea-green: #17c3b2ff;
}


html {
  scroll-behavior: smooth;
}


.testimonial {
  display: none;
}
.testimonial.active {
  display: block;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

a:visited :not(.whitee) {
  color: #1d1d1d;
  text-decoration: none;
}

li {
  list-style-type: none;
}


body {
  scroll-behavior: smooth;
  background-color: whitesmoke;
  color: #1d1d1d;
  font-weight: 600;
}

button {
 align-items: center;
 background-color: var(--primary);
 border: 0;
 border-radius: 8px;
 /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; */
 box-sizing: border-box;
 color: #1d1d1d;
 display: flex;
 /* font-family: Phantomsans, sans-serif; */
 font-size: 18px;
 justify-content: center;
 line-height: 1em;
 max-width: 100%;
 min-width: 140px;
 padding: 3px;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 cursor: pointer;
 transition: all .3s;
}


button:hover {
  color: white;

}

button:active,
button:hover {
 outline: 0;
}

button span {
 /* background-color: #1f1f1f; */
 background-color: whitesmoke;
 padding: 16px 24px;
 border-radius: 6px;
 width: 100%;
 height: 100%;
 transition: all .3s;
}

button:hover span {
 background: none;
}

.whitee, whitee:visited, whitee:link {
  color:white;
}

button:active {
 transform: scale(0.9);
}

